app-auth {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .auth_container {
    background: #EEEEEE5c;
    width: 40vw;
    min-width: 600px;
    height: 550px;
    max-height: 85vh;
    box-shadow: 0 0 6px 4px rgba(64, 94, 119, 0.45);
    border-radius: 4px;
    overflow: hidden;
    @media only screen and (max-width: 660px) {
      width: 80%;
      min-width: unset;
    }

    #formGrid {
      position: relative;
      height: 100%;

      // Allow multiple forms, one for each column. Is used to slide between the two
      display: grid;
      grid-template-columns: 100% 100%;


      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-between;

        .header {
          width: 100%;
          padding-top: 2rem;

          font-size: 2.8rem;
          font-weight: 1000;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .subheader {
          margin-top: 0.5rem;
        }

        div.formBody {
          width: 80%;
          max-width: 500px;
          margin-bottom: 2rem;

          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          form {

            mat-form-field {
              width: 100%;
              padding: 0 1rem;
            }

            .form-input {
              margin-top: 0.8rem;
            }

            .buttons {
              padding-top: 2rem;
              display: flex;
              justify-content: center;

              .btn {
                width: 100%;
                margin: 0.4rem;
                min-width: 15rem;
              }
            }
          }
        }
        .footer {
          text-align: center;
          padding-top: 1rem;
        }

        &#signInForm .header {
          padding-top: 2rem;
        }
      }
    }

  }
}

@keyframes toLeft {
  from { left: 0;}
  to { left: -100%;}
}

@keyframes toRight {
  to { left: 0;}
  from { left: -100%;}
}
