.logo_container {
  height: 100%;

  &.loading {

    g mask path.ridge {
      transform-origin: 50% 50%;
      animation: rotate 1.8s infinite;
      animation-timing-function: cubic-bezier(0.45, 0.27, 0.27, 0.5);
    }

  }
}

@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}
