<ng-container *ngIf="!!portlet; else datatable">
  <spk-portlet
    [portletName]="portlet?.name"
    [portletIcon]="portlet?.icon">

    <ng-container *ngTemplateOutlet="datatable">
    </ng-container>

  </spk-portlet>
</ng-container>

<ng-template #datatable>
  <div class="mat-elevation-z2">
    <mat-table class="projects-table" [dataSource]="dataSource"
      matSort matSortDisableClear>

      <ng-container *ngFor="let column of tableTemplate.columns">
        <ng-container [matColumnDef]="column.name">
          <div class="header_container" *matHeaderCellDef mat-sort-header>
            <spk-dynamic-component
              [template]="column?.header.template"
              [ctx]="element"
              *ngIf="column.header.template">
            </spk-dynamic-component>
          </div>
          <div class="cell_container" *matCellDef="let element">
            <spk-dynamic-component
              [template]="column?.row.template"
              [ctx]="element"
              *ngIf="column.row.template">
            </spk-dynamic-component>
          </div>
        </ng-container>

      </ng-container>

      <mat-header-row *matHeaderRowDef="tableTemplate.displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: tableTemplate.displayedColumns"></mat-row>

    </mat-table>

    <mat-paginator [length]="dataSource.count" [pageSize]="5" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
  </div>
</ng-template>
