spk-layout {

  #layout_grid {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
    "topbar topbar"
    "sidebar page"
  }

  spk-topbar {
    grid-area: topbar;
  }

  spk-sidebar {
    grid-area: sidebar;
    overflow: hidden;
  }

  .spk-pages {
    grid-area: page;
  }
}
