.menuItem {
  .title {
    display: flex;
    cursor: pointer;
    width: fit-content;
    padding-right: 15px;
    white-space: nowrap;

    .icon {
      width: 24px;
      padding-right: 10px;
    }
  }
  .submenu_container {
    margin-left: 20px;
  }
  padding: 4px;
}
